@model Proje_Final_Atos.Models.Livro

@{
    ViewData["Title"] = "Create";
}




<hr />

<div class=" border border-dark shadow-sm p-1 mb-1 bg-gradient  ">
    <div class="container ">
        <div class="row justify-content-md-center">
            <h1 class="text-white">Adicionar um Novo Livro</h1>
            <div class="col-md-5">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group  text-white">
                        <label asp-for="Titulo" class="control-label"></label>
                        <input asp-for="Titulo" class="form-control" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                    <div class="form-group  text-white">
                        <label asp-for="SubTitulo" class="control-label"></label>
                        <input asp-for="SubTitulo" class="form-control" />
                        <span asp-validation-for="SubTitulo" class="text-danger"></span>
                    </div>
                    <div class="form-group  text-white">
                        <label asp-for="Autor" class="control-label"></label>
                        <input asp-for="Autor" class="form-control" />
                        <span asp-validation-for="Autor" class="text-danger"></span>
                    </div>
                    <div class="form-group  text-white">
                        <label asp-for="Genero" class="control-label"></label>
                        <input asp-for="Genero" class="form-control" />
                        <span asp-validation-for="Genero" class="text-danger"></span>
                    </div>
                    <div class="form-group  text-white">
                        <label asp-for="Idioma" class="control-label"></label>
                        <input asp-for="Idioma" class="form-control" />
                        <span asp-validation-for="Idioma" class="text-danger"></span>
                    </div>
                    <div class="form-group  text-white">
                        <label asp-for="Capa" class="control-label"></label>
                        <input asp-for="Capa" class="form-control" />
                        <span asp-validation-for="Capa" class="text-danger"></span>
                    </div>
                    <div class="form-group   text-white">
                        <label asp-for="Resenha" class="control-label"></label>
                        <textarea asp-for="Resenha" class="form-control"></textarea>
                        <span asp-validation-for="Resenha" class="text-danger"></span>
                    </div>
                    <p></p>
                    <div class="form-group  text-white ">
                        <input type="submit" value="Adicionar" class="btn btn-success  w-100" />
                    </div>
                </form>
             
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-success">Voltar para lista</button> </a>
   
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
