
@{
    ViewData["Title"] = "Aelin";
}

<div class="row featurette text-white">
    <div class="col-md-7">
        <h1 class="featurette-heading fs-5"> Hermione Granger  <span class="text-muted">Grifinória!</span></h1>
        <p class="lead">
            Hermione é uma Bruxa nascida trouxa, e descobriu em seu aniversário de onze anos que fora aceita na Escola de Magia e Bruxaria de Hogwarts. Ela começou a freqüentar a escola em 1º de setembro de 1991, quando tinha quase doze anos, e foi colocada na casa Grifinória, apesar de ser considerada a ir para Corvinal pelo Chapéu Seletor. Ela é uma típica sabe-tudo, vive na biblioteca e busca todo tipo de soluções nos livros. A mania faz com que não seja vista como uma pessoa sociável – até seu amigo Rony faz piadinhas -, mas sempre salva os amigos por seus conhecimentos.
        </p>
        <p class="lead">
            Em seu segundo ano, foi petrificada pelo monstro da Câmara Secreta, porém mesmo nesse estado, ela ajudou seus amigos, pois havia arrancado de um livro, uma página sobre o basilisco e rabiscado nele a palavra “canos”. Foi com esta anotação que Harry e Rony conseguiram, com sucesso, pôr um fim nos planos de Lorde Voldemort.
        </p>
        <p class="lead">
            No início do seu terceiro ano escolar, Hermione ganhou um Vira-Tempo da professora McGonagall para que pudesse frequentar todas as aulas, embora isto tenha sido mantido por algum tempo em segredo até que Hermione usa o Vira-Tempo para salvar Sirius e Bicuço.
        </p>
        <p class="lead">
            Durante o quarto ano, encontrou-se como objeto de desejo de Vítor Krum, um famoso chogador de Quadribol da Bulgária e retribuiu o sentimento, apesar de gostar de Rony. Ela se chocou tanto com a escravidão de elfos-domésticos pelos bruxos que fundou o F.A.L.E. (Fundo de Apoio a Liberação dos Elfos-Domésticos) e começou a tricotar com entusiasmo gorros e meias para ajudar a libertá-los da servidão. Hermione foi a força impulsora para a criação da Armada de Dumbledore, e lutou na Batalha do Departamento de Mistérios ao lado de outros membro da A.D.
        </p>
        <p class="lead">
            Harry e Rony devem o sucesso da caça às Horcruxes em grande parte à pesquisa e planejamento de Hermione. Sem ela, não haveria roupas, livros para pesquisas, tenda ou sacos de dormir, estoque de poção Polissuco, remédios, orelhas extensíveis, nem qualquer informação sobre como destruir uma Horcrux ao encontrar uma. Ela também se preocupou com a segurança de seus pais e colocou um feitiço neles para que não se lembrassem que tinham uma filha, caso os Comensais os encontrassem, e ainda os mandou para a Austrália.
        </p>
        <p class="lead">
            Rony finalmente ganhou o primeiro beijo de Hermione durante a batalha final contra Voldemort quando ele iniciou um plano para evacuar os elfos-domésticos da escola e entendeu a importância do F.A.L.E. Depois da baralha e da morte de Voldemort, Hermione encontrou seus pais e reverteu o feitiço que havia colocado neles. Diferente de Harry, Neville e Rony, ela não se juntou ao Ministério de Shacklebolt logo. Primeiro voltou à escola e então pode terminar os estudos e fazer os N.I.E.M.s.
        </p>
        <p class="lead">
            Hermione, então, foi contratada pelo Departamento para Regulação e Controle das Criaturas Mágicas, onde ela teve um importante papel para melhorar a qualidade de vida dos elfos-dométicos e outras criaturas sem direitos. Mais tarde, foi trabalhar no Departamento de Execução das Leis da Magia, onde lutou para colocar um fim em todas as leis discriminatórias a favor dos puros-sangue tão marcantes na sociedade mágica. Rony e Hermione se casaram e tiveram dois filhos chamados Rose e Hugo.
        </p>
    </div>
    <div class="col-md-5 border-2">
        <img class="featurette-image img-fluid mx-auto border border-dark shadow-sm p-3 mb-4 bg-gradient" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="~/css/AelinPage.jpg" data-holder-rendered="true">
    </div>
</div>
