
@{
    ViewData["Title"] = "Aelin";
}

<div class="row featurette text-white">
    <div class="col-md-7">
        <h1 class="featurette-heading fs-5"> Aelin Galathynius <span class="text-muted">Celaena Sardothien!</span></h1>
        <h1>A Queda de Terrasen</h1>
        <p class="lead">
            Uma noite, o rei de Adarlan decidiu derrubar um dos seus principais opositores políticos - a família real de Terrasen.
        </p>
        <p class="lead">
            Aelin descobriu a morte de seus pais quando ela subiu na cama deles pensando que a umidade dos lençóis era devido a chuva e acordou com os gritos de uma empregada para descobrir que a cama estava encharcada de sangue. 
        </p>
        <p class="lead">
            A amiga mais querida de sua mãe, Lady Marion Lochan, se sacrificou para permitir que Aelin escapasse e sobrevivesse ao massacre de sua família.
        </p>
        <p class="lead">
            O rei cimentou seu governo sobre Erilea ao promover em todo o país as mortes da nobreza de Terrasen, sem saber que Aelin sobrevivera a tentativa de assassinato.
        </p>
        <p class="lead">
            Após a morte de seus pais e do rei Orlon, ela se tornou a única herdeira do trono de Terrasen.
        </p>
        <p class="lead">
            Arobynn Hamel, Rei dos Assassinos, encontrou Aelin quase congelada e morta nas margens do rio Florine. Ele ofereceu-lhe uma escolha: permanecer com ele e ser treinada como uma assassina ou ser deixada nas ruas. Aelin escolheu a primeira opção e tornou-se uma assassina, matando seu primeiro alvo aos nove anos. Ela foi reformulada como Celaena Sardothien para esconder sua verdadeira identidade.
        </p>
        <p class="lead">
            Celaena treinou no Forte dos Assassinos em Forte da Fenda e foi aqui que ela passou a maior parte de sua vida após a morte de seus pais
        </p>
    </div>
    <div class="col-md-5 border-2">
        <img class="featurette-image img-fluid mx-auto border border-dark shadow-sm p-3 mb-4 bg-gradient" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="~/css/AelinPage.jpg" data-holder-rendered="true">
    </div>
</div>
