@{
    ViewData["Title"] = "Ganfalf";
}

<div class="row featurette text-white">
    <div class="col-md-7">
        <h1 class="featurette-heading fs-5"> Hermione Granger  <span class="text-muted">Grifinória!</span></h1>
        <p class="lead">
            Hermione é uma Bruxa nascida trouxa, e descobriu em seu aniversário de onze anos que fora aceita na Escola de Magia e Bruxaria de Hogwarts. Ela começou a freqüentar a escola em 1º de setembro de 1991, quando tinha quase doze anos, e foi colocada na casa Grifinória, apesar de ser considerada a ir para Corvinal pelo Chapéu Seletor. Ela é uma típica sabe-tudo, vive na biblioteca e busca todo tipo de soluções nos livros. A mania faz com que não seja vista como uma pessoa sociável – até seu amigo Rony faz piadinhas -, mas sempre salva os amigos por seus conhecimentos.
        </p>
       
    </div>
    <div class="col-md-5 border-2">
        <img class="featurette-image img-fluid mx-auto border border-dark shadow-sm p-3 mb-4 bg-gradient" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="~/css/ganfafPage.jpg" data-holder-rendered="true">
    </div>
</div>



