@{
    ViewData["Title"] = "Ganfalf";
}

<div class="row featurette text-white">
    <div class="col-md-7">
        <h1 class="featurette-heading fs-5"> Gandalf  <span class="text-muted">o Mago!</span></h1>
        <p class="lead">
            Antes de qualquer coisa, Gandalf primeiro precisou existir, certo? E ele é tão antigo quanto a própria vida. Nasceu nos início dos tempos, como uma entidade espiritual, criada pelo ser supremo de Tolkien, Ilúvatar. Após a criação de Arda (isto é, o mundo como um todo), ele passa a viver nele junto com uma série de outros seres celestiais da mesma raça, chamados Ainur, milhares e milhares de anos antes de O Senhor dos Anéis ocorrer.
        </p>
       <p class="lead">
            Durante esse período de “juventude”, ele se chamava Olórin e morava nas terras a oeste da Terra-média, Valinor. Passando boa parte de seu tempo nessa terra celestial repleta de jardins, lagos e rios. Esse lugar, que também se chamava Lorien, era a casa da Vala Nienna, ela fazia parte do Panteão dos Ainuir, mais conhecida por sua associação com a dor e a tristeza (Luto). Foi por causa disso que ele compreendeu o que era paciência e piedade.
        </p>
        <p class="lead">
            Ao longo de sua existência nas duas primeiras Eras, Gandalf sempre foi atraído pelos “Filhos de Ilúvatar” – ou seja, tanto Elfos quanto Homens – sempre disposto a ajudá-los. No entanto, ele normalmente não se revela a eles em sua forma verdadeira, preferindo se comunicar com os “Filhos” por meio de visões – daí a origem de seu nome Olórin, que segundo Tolkien, seria uma tradução antiga para “Fantasia” ou “Sonho”.
        </p>
        <h1>Mensageiros enviados para a Terra-Média</h1>
        <p class="lead">
            Embora ele esteja por aí desde o início dos Tempos, acontece que só na Terceira Era é que Gandalf é convidado a assumir sua forma de mago.
        </p>
         <p class="lead">
            De acordo com Contos Inacabados, o líder dos Valar, Manwë, escolhe pessoalmente Gandalf para se tornar o ” responsável pelo o ataque e defesa” contra o Lorde das Trevas, Sauron. No entanto, a reação inicial de Gandalf foi de resistência, ele não estava muito feliz em enfrentar o poder das trevas. Mas Manwë insiste, explicando que seu medo sábio é exatamente o motivo pelo qual ele é particularmente adequado para a tarefa.
        </p>
    </div>
    <div class="col-md-5 border-2">
        <img class="featurette-image img-fluid mx-auto border border-dark shadow-sm p-3 mb-4 bg-gradient" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="~/css/ganfafPage.jpg" data-holder-rendered="true">
    </div>
</div>



