@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide border border-dark shadow-sm p-1 mb-1 bg-gradient" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        
    </ol>
    <div class="carousel-inner">
       
        
        <div class="carousel-item active carousel-item-left">
            <img class="third-slide" src="~/css/Walker-Scobell-Percy-Jackson.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Adapção de Livros</h1>
                    <p>TV E SÉRIES Walker Scobell é Percy Jackson na nova série do Disney+!</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Saiba Mais</a></p>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="container">
    
    <h1 class=" text-white">Recomendações da Semana</h1>
    <div class="row text-white ">
        <div class="col-12 col-md-6 col-lg-4 border border-dark shadow-sm p-1 mb-1 bg-gradient">
            <div class="card">
                <img class="card-img-top " src="~/css/capa harry potter.jpg" alt="Imagem de capa do card">
            </div>
            <div class="card-body">
                <h5 class ="card-title">Harry Potter e a Pedra Filosofal</h5>
                <p Class="card-text">“Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.”</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 border border-dark shadow-sm p-1 mb-1 bg-gradient">
            <div class="card">
                <img class="card-img-top" src="~/css/os seis finalistas.jpg" alt="Imagem de capa do card">
            </div>
            <div class="card-body">
                <h5 class="card-title">Os Seis Finalistas</h5>
                <p Class="card-text">“A Missão Especial mais audaciosa da história é lançada: a colonização de Europa, uma das luas de Júpiter. ..”</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 border border-dark shadow-sm p-1 mb-1 bg-gradient">
            <div class="card">
                <img class="card-img-top" src="~/css/caraval.jpg" alt="Imagem de capa do card">
            </div>
            <div class="card-body">
                <h5 class="card-title">Caraval</h5>
                <p Class="card-text">““O que quer que tenha ouvido sobre o Caraval não se compara a realidade. É mais do que só um jogo ou apresentação. É a coisa mais parecida com magia que você verá neste mundo.””</p>
            </div>
        </div>
    </div>


</div>
