@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="~/css/livroCat.jpg" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Título do card</h5>
    <p class="card-text">Quando acordei hoje de manhã, eu sabia quem eu era, mas acho que já mudei muitas vezes desde então.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Link do card</a>
    <a href="#" class="card-link">Outro link</a>
  </div>
</div>

</div>
