@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide border border-dark shadow-sm p-1 mb-1 bg-gradient" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner">


        <div class="carousel-item active carousel-item-left">
            <img class="third-slide" src="~/css/Walker-Scobell-Percy-Jackson.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Adapção de Livros</h1>
                    <p>TV E SÉRIES Walker Scobell é Percy Jackson na nova série do Disney+!</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Saiba Mais</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
<br />
<br />
<br />
<div class="text-white bg-gradient">
   
    <h1 class=" text-white">Recomendações da Semana</h1>
</div>
<div class="container">

   
    <div class="row text-white fs-5">
        <div class="col-12 col-md-6 col-lg-4 border border-dark shadow-sm p-1 mb-1 bg-gradient">
            <div class="card">
                <img class="card-img-top " src="~/css/capa harry potter.jpg" alt="Imagem de capa do card">
            </div>
            <div class="card-body">
                <h5 class="card-title">Harry Potter e a Pedra Filosofal</h5>
                <p Class="card-text">“Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.”</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 border border-dark shadow-sm p-1 mb-1 bg-gradient">
            <div class="card">
                <img class="card-img-top" src="~/css/os seis finalistas.jpg" alt="Imagem de capa do card">
            </div>
            <div class="card-body">
                <h5 class="card-title">Os Seis Finalistas</h5>
                <p Class="card-text">“A Missão Especial mais audaciosa da história é lançada: a colonização de Europa, uma das luas de Júpiter. ..”</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 border border-dark shadow-sm p-1 mb-1 bg-gradient">
            <div class="card">
                <img class="card-img-top" src="~/css/caraval.jpg" alt="Imagem de capa do card">
            </div>
            <div class="card-body">
                <h5 class="card-title">Caraval</h5>
                <p Class="card-text">““O que quer que tenha ouvido sobre o Caraval não se compara a realidade. É mais do que só um jogo ou apresentação. É a coisa mais parecida com magia que você verá neste mundo.””</p>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <div class ="text-white bg-gradient">
    <h1 >Pesornagens</h1>
    </div>
    <br />
</div>
<div class="container opacity-100 fs-5">
    <div class="row text-white ">
        <div class="col-12 col-md-6 col-lg-4 border border-dark shadow-sm p-2 mb-3 bg-gradient">
            <div class="card bg-black bg-opacity-50 ">
                <img class="card-img-top rounded-circle" src="~/css/hermione.webp" alt="Imagem de capa do card">
            </div>

            <div class="card-body">
                <h4 class="card-title">Hermione Granger</h4>
                <a>Hermione é uma garota de personalidade forte. Não se deixa manipular por qualquer coisa, está sempre atenta a qualquer risco. Gosta de pensar antes de agir para que, futuramente, não haja algum prejuízo para ela e seus companheiros atrapalhados. Uma jovem sábia, esperta e persistente.</a>
            </div>

        </div>

        <div class="col-12 col-md-6 col-lg-4 border border-dark shadow-sm p-2 mb-3 bg-gradient ">
            <div class="card bg-black bg-opacity-50">
                <img class="card-img-top rounded-circle" src="~/css/gandalf2.jpg" alt="Imagem de capa do card">
            </div>

            <div class="card-body">
                <h4 class="card-title">Gandalf</h4>
                <a> Gandalf é um homem sábio e respeitoso. Ele sempre reconforta seus parceiros e é reconhecido por ser uma pessoa calorosa e cheia de amor. Gandalf também é implacável em combate, não respeitando seus inimigos, soltando algumas ofensas e se irritando.</a>
            </div>

        </div>


        <div class="col-12 col-md-6 col-lg-4 border border-dark shadow-sm p-2 mb-3 bg-gradient ">
            <div class="card bg-black bg-opacity-50">
                <img class="card-img-top rounded-circle" src="~/css/Aelin Galathynius..jpeg" alt="Imagem de capa do card">
            </div>

            <div class="card-body">
                <h4 class="card-title ">Aelin Galathynius</h4>
                <a>Aelin Ashryver Galathynius, também conhecida como Celaena Sardothien, é a rainha perdida de Terrasen e o último membro sobrevivente da linhagem Galathynius. </a>
            </div>

        </div>


    </div>
</div>
